PORT=4000
MONGODB_URI=mongodb://localhost:27017/
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=	Form-flow
CLOUDINARY_API_KEY=861115658789456
CLOUDINARY_SECRET=Gbh5CWuNiU1vC9tWX6K-fFzfwkM

REDIS_URL=redis://default:********@real-chigger-91126.upstash.io:6379

CORS_ORIGIN=http://localhost:5173
